/* ==== ESTRUCTURA GENERAL PARA QUE EL FOOTER NO FLOTE ==== */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

/* ==== CONTENEDOR PRINCIPAL PARA EMPUJAR FOOTER ABAJO ==== */
.main-content {
  flex: 1 !important;
}

/* ===== FOOTER ===== */

.app-footer {
  width: 100%;
  height: 20vh;

  background: #191919;
  color: #d39b19;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px 20px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.25);

  /* CLAVE: esto hace que el footer se quede abajo */
  margin-top: auto;
}

.footer-container {
  width: 95%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* izquierda - centro - derecha */
  align-items: center;
}

.footer-logo-section {
  display: flex;
  justify-content: center;
}

.footer-logo {
  height: 100px;
  object-fit: contain;
  filter: drop-shadow(0 0 6px #C8AC6A);
}

.footer-about {
  text-align: center;
  padding: 0 20px;
}

.footer-about h4 {
  margin: 0;
  font-size: 1.3rem;
  color: #d39b19;
}

.footer-about p {
  margin-top: 8px;
  font-size: 0.9rem;
  opacity: 0.85;
  color: #d39b19;
}

.footer-creators {
  text-align: right;
  padding-right: 10px;
}

.footer-creators h5 {
  margin-bottom: 6px;
  color: #d39b19;
}

.footer-creators p {
  margin: 3px 0;
  font-size: 0.9rem;
  opacity: 0.85;
  color: #d39b19;
}
