html, body {
  margin: 0 !important;
  padding: 0 !important;
  background: #000; /* opcional */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: -0 !important;
  padding: 0 !important;
  background: #000;
}